<div class="row">
  <div class="col">
    <app-playlist-list
      [items]="playlists"
      (selectedIdChange)="selectPlaylistById($event)"
      [selectedId]="selected?.id"
    />
  </div>
  <div class="col">
    <ng-container [ngSwitch]="mode" >
      <app-playlist-detail
        *ngSwitchDefault
        [playlist]="selected"
        (edit)="showEditor()"
      />
      <app-playlist-editor
        *ngSwitchCase="'editor'"
        [playlist]="selected"
        (cancel)="showDetails()"
        (save)="savePlaylist($event)"
      />
    </ng-container>
  </div>
</div>
